@CHARSET"ISO-8859-1";

/* Reset CSS
 * --------------------------------------- */
 body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol, ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before, q:after {
    content:'';
}
abbr, acronym {
    border: 0;
}
/* Custom CSS
 * --------------------------------------- */
 body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
    background-color: #c1c1c1
}
.wrap {
    margin-left: 0;
    margin-right: auto;
    width: 100;
    position: relative;
}
h1 {
    font-size: 6em;
}
p {
    font-size: 2em;
}
.section {
    text-align:center;
}

/* Header
 * --------------------------------------- */

#header {
    display: block;
    z-index: 1;
    position: fixed;
    top: 20px;
    left: 0px;
    padding-left: 20px
}

#button {
    color: black;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Menu
 * --------------------------------------- */

#menu {
    position:fixed;
    top:0;
    left: 200px;
    /* width of your navigation panel*/
    height: 40px;
    z-index: 70;
    width: 200px;
    padding: 0;
    margin:0;
    background-color: #666
}
#menu li {
    display: block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active {
    background:#666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
#menu li a {
    text-decoration:none;
    color: #000;
    font-size: 16px
}
#menu li.active a:hover {
    color: #000;
}
#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}
#menu li a, #menu li.active a {
    padding: 9px 18px;
    display:block;
}
#menu li.active a {
    color: #fff;
}
/* Demos Menu
 * --------------------------------------- */
 #demosMenu {
    position:fixed;
    bottom: 10px;
    right:10px;
    z-index: 999;
}
/* Sections
 * --------------------------------------- */
 #section0 img, #section1 img {
    margin: 20px 0 0 0;
}
#section2 img {
    margin: 20px 0 0 52px;
}
#section3 img {
    bottom: 0px;
    margin:auto;
    display:block;
}
.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.twitter-share-button {
    position: absolute;
    z-index: 99;
    right: 149px;
    top: 9px;
}
/* Navigation
 * --------------------------------------- */
 #fullPage-nav {
    position: absolute;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fullPage-nav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
}
#fullPage-nav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span {
    background: #333;
}
#fullPage-nav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
@media all and (max-width: 600px) {
    #menu li a, #menu li.active a {
        text-indent: -999px;
    }
}

@media all and (min-width: 1200px) {
    #button {
        display: none
    }
}
